.full-width-block {
  .block-title {
    margin-top: 0;
    margin-bottom: 45px;
  }
}

.gray-background-block {
  .block-title {
    font-size: 36px;
  }
  h2,
  h3,
  h4 {
    color: @grayBackgroundBlockHeaders;
  }
  p {
    color: @grayBackgroundBlockParagraph;
    &.main-paragraph {
      font-size: 18px;
      line-height: 25px;
    }
  }
}
