/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path: '../bootstrap/fonts/';

//  Colors
@white: #FFF;
@pink:#ed1c8b;
@pinkDark:#d80780;
@fontColor: #5f6463;
@linkColor: #00bff3;
@backgroundGray: #dadadc;
@grayBackgroundBlockHeaders : #454a5b ;
@grayBackgroundBlockParagraph : #656a7d ;
